html {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 21px;
}

body {
    background-color: palevioletred;
}

div {
    color: rgb(167, 226, 206);
}

h1 {
    color: cadetblue;
}

.first {
    color: azure;
}

#second {
    color: bisque;
}

[title=third] {
    color: lightgoldenrodyellow;
}

div > p {
    color: lightblue;
}

div + p {
    color: lightgreen;
}

div ul li {
    color: lightgrey;
}

div p.fourth {
    color: lightcyan;
}

div#end.end[title=end] {
    color: lightsalmon;
}